<?xml version='1.0' encoding='utf-8'?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  id="com.simevo.processapp"
  version="0.0.9">

  <name>simevo process app</name>

  <description>
    An open source mobile app to access process simulations hosted in the cloud using simevo process technology.
  </description>

  <author email="dev@simevo.com" href="http://simevo.com">
    The simevo developers
  </author>

  <!--
  If you do not want any permissions to be added to your app, add the
  following tag to your config.xml; you will still have the INTERNET
  permission on your app, which PhoneGap requires.
  -->
  <preference name="permissions" value="none"/>

  <preference name="phonegap-version" value="3.6.3" /> <!-- all: current version of PhoneGap -->
  <preference name="orientation" value="default" /> <!-- all: default means both landscape and portrait are enabled -->
  <preference name="DisallowOverscroll" value="true"/> <!-- the interface should not display any feedback when users scroll past the beginning or end of content -->
  <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<!--  <preference name="fullscreen" value="true" /> all: hides the status bar at the top of the screen -->
  <preference name="webviewbounce" value="false" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
  <preference name="prerendered-icon" value="false" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
  <preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<!--  <preference name="ios-statusbarstyle" value="black-opaque" /> ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
  <preference name="detect-data-types" value="false" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
  <preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
  <preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
  <preference name="auto-hide-splash-screen" value="true" /> <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
<!--   <preference name="disable-cursor" value="false" /> blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
  <preference name="android-minSdkVersion" value="15" /> <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. API15 = Android 4.0.3 -->
  <preference name="android-installLocation" value="auto" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

  <!-- Core plugins -->
<!--  <gap:plugin name="org.apache.cordova.battery-status" />
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.media-capture" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.device-motion" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.globalization" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.media" />
  <gap:plugin name="org.apache.cordova.network-information" />-->

  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="org.apache.cordova.statusbar" />

<!--  <gap:plugin name="org.apache.cordova.vibration" />-->
  
  <!-- Third party plugins -->
  <!-- Cordova/PhoneGap SQLitePlugin> https://build.phonegap.com/plugins/977 -->
  <gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.0" />
  <!-- Eddy Verbruggen SocialSharing PhoneGap Plugin https://build.phonegap.com/plugins/1093 --> 
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.6" />

  <!-- Define app icon for each platform. -->
  <icon src="icon.png" />
  <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
  <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
  <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
  <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
  <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
  <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
  <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
  <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
  <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
  <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />

  <!-- Define app splash screen for each platform. -->
  <!-- http://phonegap.com/blog/2014/04/11/phonegap-build-adds-some-new-features/ -->
  <!-- http://docs.phonegap.com/en/3.5.0/config_ref_images.md.html -->
  <!-- http://devgirl.org/2013/09/12/phonegap-icons-and-splash-screens-help/ -->
  <gap:splash src="splash.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.vpng" />
  <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="res/screen/android/screen-ldpi-landscape.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="res/screen/android/screen-mdpi-landscape.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="res/screen/android/screen-hdpi-landscape.9.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.9.png" />
  <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />
  <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
  <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
  <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
  <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
  <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
  <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />

  <!--
  Define access to external domains.
  <access /> - a blank access tag denies access to all external resources.
  <access origin="*" /> - a wildcard access tag allows access to all external resource.
  Otherwise, you can specify specific domains:
  -->
  <access origin="*" />
 <!--
  <access origin="http://phonegap.com" /> - allow any secure requests to http://phonegap.com/
  <access origin="http://phonegap.com" subdomains="true" /> - same as above, but including subdomains, such as http://build.phonegap.com/
  <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
  -->
</widget>
