html, body {
  height: 100%;
  width: 100%;
}
body, button, optgroup, select, textarea, input {
  font-size: large !important;
}

div#image-container {
  height: calc(100% - 5em);
  height: -webkit-calc(100% - 5em);
  height: -moz-calc(100% - 5em);
  left: 0;
  position: absolute;
  top: 2.5em;
  width: 100%;
  z-index: 1;
}

#image-container > canvas {
	position: absolute;
  top: 0;
  z-index: 5;
}

#image-container > svg {
  max-height: 100%;
  margin: 0px 36px;
  top: 50%;
  max-width: calc(100% - 72px);
}

#input-open, #output-open, #parent-open-main, #children-toggle {
  background-color: rgba(228, 228, 228, 1);
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
#landing-page {
  /*
   background-color: rgb(128,128,128);
   */
  position: absolute;
  height: 100%;
  width: 100%;
}
#logo {
  background-image: url(../images/logo_full_transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 15%;
  width: 100%;
}
@-ms-viewport {   width: device-width;  }

.center {
  text-align: center;
}

.margin-left {
	margin-left: 5%;
}

.margin-right {
	margin-right: 5%;
}

.container-fluid {
  height: 100%;
  width: 100%;
  position: absolute;
}
.form-control::-ms-clear {
  display: none;
}
.h100 {
  height: 100%;
}
.display-none {
  display: none !important;
}
ul {
  -moz-padding-start: 0em;
  -webkit-padding-start: 0em;
  padding-start: 0em;
  list-style: none;
  padding: 1em;
}
div#center {
  height: 100%;
  z-index: 0;
}

div#children {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1),  rgba(0, 0, 0, 0));
  display: none;
  margin: 0 2em;
  max-height: 100%;
}
div#navigation {
  box-shadow: 0px 1px 10px 0px #000;
  border-bottom: 1px solid #4B4B4B;
  height: 2.5em;
  padding: 3px 0;
  position: relative;
  width: 100%;
  z-index: 4 !important;
}
div#navigation-configure {
  border-bottom: 1px solid #4B4B4B;
  box-shadow: 0px 1px 10px 0px #000;
  height: 2.5em;
  padding: 3px 0;
  width: 100%;
  z-index: 4;
  position: relative;
}
div#main {
  height: calc(100% - 5em);
  height: -webkit-calc(100% - 5em);
  width: 100%;
  z-index: 2;
  /*
   background-image: url(../62e3a255-c1a0-4dea-a650-05b9a4a33aef/background-main.png);
   */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
}
dl.info-list {
/*  margin-left: 18px;*/
  padding: 1em;
  margin-bottom: 0px !important;
}
#info-toggle {
  max-width: 90%;
  min-width: 50%;
  height: 39px;
}
#info-toggle > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
#parent-open-main {
  max-width: 90%;
  min-width: 50%;
}
#parent-open-main > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

div#info-container {
  background: linear-gradient(to bottom, rgba(228, 228, 228, 1), rgba(228, 228, 228, 0.9));
  display: none;
  margin: 0 2.1em;
  max-height: 100%;
  z-index: 2 !important;
  box-shadow: 1px 2px 10px 0px #000;
  word-wrap: break-word;
}
div#input-box {
  display: none;
  z-index: 1;
}
.ro {
  padding: 0.5em;
}
.i {
  clear: both;
}
.o {
  clear: both;
}
div#toolbar {
  box-shadow: 0px -1px 10px 0px #000;
  border-top: 1px solid #4B4B4B;
  height: 2.5em;
  /* controllare se ha preso padding left */
  padding: 3px;
  position: relative;
  width: 100%;
  z-index: 4 !important;
}
div#tab-container {
  height: 85%;
}
.rns-container {
  width: 100%;
  height: calc(100% - 3.8em);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1),  rgba(0, 0, 0, 0));
}
ul#recent-list {
  margin-bottom: 0;
}
ul#new-list {
  margin-bottom: 0;
}
ul#service-list {
  margin-bottom: 0;
}
div#input-container {
  background: linear-gradient(to left, rgba(228, 228, 228, 1), rgba(228, 228, 228, 0.9));
  border-right: 0px;
  box-shadow: 1px 0px 10px 0px #000;
  height: 100%;
  display: none;
  z-index: 2 !important;
  position: relative;
}
input#number {
  margin: 0 0 10px 0;
}
#input-open {
  border: 1px solid #ccc;
  border-radius: 0em 0.5em 0.5em 0em;
  box-shadow: 1px 2px 10px 0px #000;
}
#input-close {
  border: 1px solid #ccc;
  border-left: 0px !important;
  background-color: rgba(228, 228, 228, 1);
  margin-right: -2em;
  border-radius: 0em 0.5em 0.5em 0em;
  box-shadow: 2px 2px 2px 0px #000;
  z-index: 1 !important;
}

div#output-container {
  background: linear-gradient(to right, rgba(228, 228, 228, 1), rgba(228, 228, 228, 0.9));
  border-left: 1px solid #ccc;
  height: 100%;
  display: none;
  z-index: 2;
  box-shadow: -1px 0px 10px 0px #000;
}
#output-open {
  border: 1px solid #ccc;
  border-right: 0px;
  border-radius: 0.5em 0em 0em 0.5em;
  box-shadow: -1px 2px 10px 0px #000;
}
#output-close {
  border: 1px solid #ccc;
  border-right: 0px;
  background-color: rgba(228, 228, 228, 1);
  margin-left: -2em;
  border-radius: 0.5em 0em 0em 0.5em;
  box-shadow: -2px 2px 2px 0px #000;
}

.no-margin {
  margin-left: 0em !important;
  margin-right: 0em !important;
}
.no-padding {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

div#box {
  background: rgba(255, 255, 255, 0.3);
  height: calc(100% - 5em);
  height: -webkit-calc(100% - 5em);
  width: 100%;
  top: 2.5em;
  position: absolute;
}
.box1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
}
.box2 {
  background: rgba(255, 255, 255, 1);
}
.lid-extended {
  z-index: 1;
  width: 37px; /* 2em + 1px to avoid the dim vertical border visible between *put-container and *put-close */
  height: 10em;
  text-align: center;
}
.lid-retracted {
  z-index: 999;
  width: 2em;
  height: 10em;
  text-align: center;
}
.vcenter {
  position: relative;
  top: 50% !important;
  top: -webkit-calc(50% - 5em);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lefty {
  float: left;
}
.righty {
  float: right;
}
#input-list {
  height: calc(100% - 3.3em);
}
#output-list {
  height: calc(100% - 3.3em);
}
#new-list {
  height: 100%;
}
#recent-list {
  height: calc(100% - 3.3em);
}
#service-list {
  height: 100%;
}
.list {
  top: 0em;
  position: relative;
  padding: 0.5em;
}
.yscroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
ul#children-list {
  height: 100%;
}
img.icon {
  width: 1.2 m;
  height: 1.2em;
}
img.mirror {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
div.thumb {
  float: left;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
div.service-thumb {
  float: left;
}
img.thumb2 {
  width: 2em;
  height: 2em;
}
img.thumb3 {
  width: 3em;
  height: 3em;
}
img.thumb6 {
  width: 6em;
  height: 6em;
}
img.thumb8 {
  width: 8em;
  height: 8em;
}
.list-item {
  min-height: 3em;
  margin-left: 4em;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.5em 0 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  word-wrap: break-word;
}
.list-item-configure {
  min-height: 3em;
  margin-left: 4em;
  background: linear-gradient(to top, rgba(255, 255, 255,1), rgba(0, 0, 0, 0));
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.s-active {
  background: rgba(255, 255, 255, 1);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
img.service-thumb {
  width: 5em;
  height: 5em;
}
.service-item {
  min-height: 5em;
  margin-left: 5.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
ul#recent-list li, ul#children-list li {
  margin: 0.5em;
}

ul#new-list li {
  margin: 0.5em;
}
ul#service-list li {
  margin: 0.5em;
}
/* da togliere */
.navbar {
  margin-bottom: 0em !important;
}
.nav {
  padding-bottom: 0em !important;
}
.nav-tabs {
  border-bottom: 0px !important;
}
.nav-tabs li {
  margin-left: 0.25em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px 4px 0 0;
}
.nav-tabs li a {
  color: #007878;
}
.nav-tabs li.active {
  background: none;
  color: #000000;
}
#new-container {
  display: none;
  padding-top: 5px;
}
#service-container {
  display: none;
}
input#range {
  margin-bottom: 20px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #4B4B4B;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #d43f3a;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4B4B4B;
}

fieldset {
  margin: 1em !important;
}
#configure-veiling {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
  height: calc(100% - 2.5em);
}
#services-veiling {
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 0 0 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#configure-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container-recent-search {
  padding-top: 0.5em;
  width: 100%;
}
#recent-search-clearer {
  top: 0em;
}
.form-control-feedback {
  color: rgb(128,128,128);
}
#input-search-clearer {
  top: 1px;
}
#output-search-clearer {
  top: 1px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.secondary {
  font-size: medium !important;
  color: #555555;
}
ul.messages {
  margin-left: 18px;
  list-style: disc;
}
hr {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

#lock-ui-fast, #lock-ui-slow {
  height: 100%;
  width: 100%;
  display: block;
  z-index: 2000;
  position: absolute;
  top: 0px;
}
.lock-veiling {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0px;
}
